* {
  padding: 0;
  margin: 0;
}

.background {
  background-color: rgb(67, 25, 25);
  padding-top: 1px;
  height: 200vh;
  transition: background-color 0.5s ease;
}

.display {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


.hide {
  display: none;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: 40 px;
  max-width: 800px;
  box-shadow: 0 20px 20px 0 rgba(111, 110, 110, 0.2),
    0 6px 10px 0 rgba(255, 254, 254, 0.2);
}

.tile {
  border: 2px solid rgb(226, 189, 189);
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.7s;
}

.glow {
  box-shadow: 0px 5px 15px rgb(175 174 176 / 0.5);
  background-color: white;
}

.player1 {
  color: darkgoldenrod;
  border: none;
}

.board1 {
  background-color: darkgoldenrod;
}

.player2 {
  color: grey;
  border: none;
}

.board2 {
  background-color: grey;
}

.bom {
  background-color: red;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  height: 50px;
}

.controls button {
  background-color: darkred;
  color: white;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  margin-left: 1em;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(111, 110, 110, 0.2),
    0 6px 20px 0 rgba(255, 254, 254, 0.2);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #861f34;
}

button:active {
  box-shadow: none;
  color: rgb(176, 141, 141);
}